# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date, infer_datetime_format=True)

In [5]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [6]:
# Drop the date column
df = df.drop(columns='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats

In [10]:
# Filter data for desired months
june_data = df[df.index.month == 6]

december_data = df[df.index.month == 12]

In [18]:
# Identify the average temperature for June
print(f'The average temperature for June was: {round(june_data.tobs.mean(),2)}F')

The average temperature for June was: 74.94F

In [20]:
# Identify the average temperature for December
print(f'The average temperature for December was: {round(december_data.tobs.mean(),2)}F')

The average temperature for December was: 71.04F

In [23]:
# Create collections of temperature data
june_temps = june_data.tobs

december_temps = december_data.tobs

In [24]:
# Run unpaired t-test
stats.ttest_ind(june_temps,december_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### T-Test Analysis
The difference in means between the months of June and December appears to be statistically significant considering the p-value of the t-test we performed is less than a value of 0.05. We would use an unpaired t-test in this instance since the samples are not related and come from the two different months.